<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<title>Blood Bowl Stats</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Blood Bowl Stats</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/teams}">Your Teams</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/matches/new}">Record Match</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/matches/history}">Match History</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/matches/standings}">Standings</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
					<li sec:authorize="!isAuthenticated()"><a th:href="@{/registration}">Register</a></li>
					<li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>
	<div class="container">

		<div th:if="${param.teamSuccess}">
			<div class="alert alert-info">Your team was created successfully!</div>
		</div>

		<h2>Blood Bowl League Manager</h2>

		<p>
			Welcome <span sec:authentication="principal.username">User</span>
		</p>

		<div sec:authorize="isAuthenticated()">
			<p>Manage your league:</p>
			<p>
				<a th:href="@{/teams/new}" class="btn btn-primary">Create New Team</a>
				<a th:href="@{/teams}" class="btn btn-secondary">View Your Teams</a>
				<a th:href="@{/matches/new}" class="btn btn-success">Record Match Result</a>
			</p>
		</div>

		<div sec:authorize="!isAuthenticated()">
			<p>Please <a th:href="@{/login}">login</a> or <a th:href="@{/registration}">register</a> to manage your teams and record matches.</p>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>