<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Updated BS5 CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

<title>Registration</title>
</head>
<body>
	<!-- Updated BS5 Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
            <a class="navbar-brand" th:href="@{/}">Blood Bowl Stats</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link" th:href="@{/login}">Login</a></li>
                </ul>
            </div>
		</div>
	</nav>

	<div class="container" style="padding-top: 70px;">
		<div class="row">
			<div class="col-md-6 offset-md-3">

				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-success alert-dismissible fade show" role="alert">
                        You've successfully registered! Please <a th:href="@{/login}">login</a>.
                         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
				</div>

				<h1>Registration</h1>

				<form th:action="@{/registration}" method="post" th:object="${user}">

                    <!-- Display validation errors -->
                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        Please correct the errors below.
                    </div>

					<div class="mb-3">
						<label class="form-label" for="firstName"> First Name </label>
                        <input id="firstName" class="form-control" th:field="*{firstName}" required autofocus="autofocus" />
                        <p class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
					</div>

					<div class="mb-3">
						<label class="form-label" for="lastName"> Last Name </label> <input
							id="lastName" class="form-control" th:field="*{lastName}" required />
                         <p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
					</div>

					<div class="mb-3">
						<label class="form-label" for="email"> Email </label> <input id="email"
							class="form-control" th:field="*{email}" required />
                        <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
					</div>

					<div class="mb-3">
						<label class="form-label" for="password"> Password </label> <input
							id="password" class="form-control" type="password"
							th:field="*{password}" required />
                         <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
					</div>

					<div class="mb-3">
						<label class="form-label" for="confirmPassword"> Confirm Password </label>
                        <input id="confirmPassword" class="form-control" type="password"
							th:field="*{confirmPassword}" required />
                        <p class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></p>
					</div>

					<div class="mb-3 form-check">
						<input id="term" type="checkbox" class="form-check-input" th:field="*{terms}" />
                        <label class="form-check-label" for="term"> I agree to the <a href="#">terms and conditions</a></label>
                        <p class="text-danger" th:if="${#fields.hasErrors('terms')}" th:errors="*{terms}"></p>
					</div>

					<div class="d-grid gap-2">
						<button type="submit" class="btn btn-success">Register</button>
						<span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Updated Bootstrap 5 JS Bundle -->
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>

</body>
</html>